img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.manufacturerslider {
    display: block;
    margin: 30px auto;
    max-width: 90%;
    position: relative;
}

@media all and (max-width: 1170px) {
    .manufacturerslider {
        max-width: 100%;
        width: 100%;
    }
}

.manufacturerslider__item {
    display: block;
    text-align: center;
}

.manufacturerslider__img {
    display: inline-block;
    height: 120px;
}

.manufacturerslider .swiper-button-prev {
    left: -35px;
}

.manufacturerslider .swiper-button-next {
    right: -35px;
}

@media all and (max-width: 768px) {
    .manufacturerslider .swiper-button-prev {
        left: -15px;
    }
    
    .manufacturerslider .swiper-button-next {
        right: -15px;
    }
}